::selection {
    background-color: var(--laodeaksar-colors-emphasis);
    color: var(--laodeaksar-colors-brand);
}

html {
    font: 112.5%/1.45 var(--fonts-display);
    overflow-y: scroll;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@media (max-width: 700px) {
    html {
        font: 100%/1.2888 var(--fonts-display);
    }
}

body {
    background: var(--laodeaksar-colors-body);
    color: var(--laodeaksar-colors-typeface-primary);
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    margin: 0;
}

[hidden],
[aria-hidden='true'],
.hidden {
    display: none;
}

[aria-hidden='false'] {
    display: block;
}

/* TODO Find a way to remove the following */
/* Patch gif wrapped in figure tag */

figure {
    margin-left: 0;
    margin-right: 0;
}

img {
    max-width: 100%;
}

/* END Patch gif wrapped in figure tag */

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    background-image: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

button,
[role='button'] {
    cursor: pointer;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}